@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/Pretendard-Regular.css");


.font-look {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-look4 {
    font-family: 'Pretendard', sans-serif;

}

.font-look2 {
    font-family: 'Pretendard-Regular', sans-serif;
}

.font-look3 {
    font-family: 'SUIT-Regular', sans-serif;
}

.goods-title {
    font-size: clamp(7px, 1.8vh, 1.8vh);
}

.goods-price {
    font-size: clamp(4px, 1.7vh, 1.7vh);
}

.goods-content {
    font-size: clamp(4px, 1.6vh, 1.6vh);
}