#testbed {
    width: 56.3vh; 
    height: auto; 
    background-color: rgb(255, 255, 255);
    margin: -8px;
}

#var_line {
    width: 56.3vh
}

#body_line {
    height: 85vh;
}

#button_line {
    width: 56.3vh
}

.hovering {
    background-color: blueviolet;
}

.hovering:hover {
    background-color: black;
    cursor: pointer;
}

.white_button {
    border-style: solid; 
    border-radius: 13px; 
    border-width: 1px; 
    font-size: 18px; 
    width: auto; 
    height: 30px; 
    align-items: center; 
    display: flex;
     
    background-color: white;
    color: black;
    border-color: black;
}

.white_button:hover {
    color: blueviolet;
    border-color: blueviolet;
}

.testshop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.testshop_name {
    font-size: 15px;
}

.testshop_price {
    font-size: 13px;
}

.event_control {
    display: inline-block; 
    width: 100%; 
    font-size: 18px;
    padding: 8px;
}
.event_control:hover {
    cursor: pointer;
    color: blueviolet;
    background-color: #f6f6f6;
}
#new_var {
    background-color: #f6f6f6;
    margin: -8px;
    padding: 1px;
    text-align: center;
}

.mypage_element {
    text-align: center; 
    box-shadow: 0px 4px 10px rgba(168, 168, 168, 0.2); 
    border-radius: 30px;
    height: 250px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypage_element:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    #testbed {
        width: 100vw;
        height: auto;
    }
    #var_line {
        width: 100%;
    }
    #body_line {
        height: 84vh;
    }

    #button_line {
        width: 100%;
    }
}