#testbed {
    width: 56.3vh; 
    height: 100vh; 
    background-color: rgb(255, 255, 255);
    margin: -8px;
}

#var_line {
    width: 56.3vh
}

#body_line {
    height: 85vh;
}

#button_line {
    width: 56.3vh
}

.hovering {
    background-color: blueviolet;
}

.hovering:hover {
    background-color: black;
    cursor: pointer;
}

@media (max-width: 900px) {
    #testbed {
        width: 100vw;
        height: 100vh;
    }
    #var_line {
        width: 100%;
    }
    #body_line {
        height: 84vh;
    }

    #button_line {
        width: 100%;
    }
}